.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
  position: relative;
  overflow: hidden;
}

.profile__image:hover .profile__darken-overlay {
  background: rgba(0, 0, 0, 0.6);
}

.profile__image:hover .profile__update-button {
  opacity: 1;
}



@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}